In [ ]:
name=input("Enter name")
year=int(input("Enter year:"))
age=2024-year
print("The person",name,"born in",year,"is",age,"years old")

Enter nameAlex
Enter year:2002
The person Alex born in 2002 is 22 years old

In [ ]:
#if statement
marks=int(input("Enter marks: "))
if(marks>80 and marks<=100):
  print("Distinction")
elif(marks<80 and marks>60):
  print("Pass")
elif(marks<60):
  print("Fail")
else:
  print("invalid")

Enter marks: 78
Pass

In [ ]:
#To check if a number is prime or not
n=int(input("Enter a number"))
for i in range(2,(n//2)+1):
  if(n%i)==0:
    print("It is not prime")
    break
else:
  print("is a prime")

Enter a number4
It is not prime

In [ ]:
#Strong number
sum=0
num=int(input("Enter a number: "))
temp=num
while(num!=0):
  i=1
  f=1
  r=num%10
  while(i<=r):
    f=f*i
    i=i+1
  sum=sum+f
  num=num//10
if(sum==temp):
   print("The number is a strong number")
else:
  print("The number is not a strong number")

Enter a number: 145
The number is a strong number

In [ ]:
#Arm Strong number
num=int(input("Enter a number:"))
order=len(str(num))
sum=0
temp=num
while temp>0:
  digit=temp%10
  sum+=digit**order
  temp//=10
if(num==sum):
  print(num,"is a armstrong number")
else:
  print(num,"is not a armstrong number")

Enter a number:6
6 is a armstrong number

In [ ]:
#Neon number
num=int(input("Enter a number:"))
square=num*num
temp=num
sum=0
while(square!=0):
  r=square%10
  sum=sum+r
  square=square//10
if(sum==temp):
  print("Neon")
else:
  print("not neon")

Enter a number:6
not neon

In [ ]:
#Spy Number
num=int(input("Enter a number:"))
sum=0
temp=num
product=1

while(num>0):
   d=num%10
   sum=sum+d
   product=product*d
   num=num//10

if(sum==product):
  print(temp,"is a spy number")
else:
  print(temp,"is not a spy number")

Enter a number:1421
1421 is a spy number

In [ ]:
#Palindrome Number
rev=0
org=n
while(n!=0):
  d=n%10
  rev=rev*10+d
  n=n//10

In [ ]:
#Happy Number
n=int(input())
res=n
def isHappy(n):
  sum=0
  while(n!=0):
    r=n%10
    sum=sum+(r*r)
    n=n//10
  return sum

while(res!=1 and res!=4):
  res= isHappy(res)

if(res==1):
  print("TRUE")
else:
  print("FALSE")

82
TRUE

In [ ]:
#Prime numbers in a given range
start=int(input("Enter starting range\n"))
end=int(input("Enter ending range\n"))
count=0
def isprime(num):
 for num in range(start,end+1):
  if num>1:
   for i in range(2,num):
    if(num%i)==0:
      isprime=False
      break
   if isprime:
      print(num)
      count=count+1

  print("Total prime numbers in the given range=",count)

Enter starting range
3
Enter ending range
45

In [ ]:
n=int(input("enterthe number"))
fib1=0
fib2=1
print("Fib series of a given number",n,"is")
print(fib1,fib2,end="")
for i in range(2,n):
  fib3=fib1+fib2
  print(fib3,end="")
  fib1=fib2
  fib2=fib3

enterthe number4
Fib series of a given number 4 is
0 112

In [ ]:
#Pattern 1
n=int(input())
for i in range(0,n):
  for j in range(0,n):
    print("*",end=" ")

  print()

6
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [ ]:
n=int(input())
for i in range(0,n):
  for j in range(0,n):
    if(j<=i):
     print("*",end=" ")

  print()

5
*
* *
* * *
* * * *
* * * * *

In [ ]:
n=int(input())
for i in range(n):
  for j in range(n):
    if (i+j)>=n-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print(" ")

5
        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
n=int(input())
for i in range(0,n):
  for j in range(0,n):
    if(j>=i):
     print("*",end=" ")
    else:
      print(" ",end=" ")

  print()

5
* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
n=int(input())
for i in range(0,n):
  for j in range(0,n):
    if(j>=i):
     print("*",end=" ")

  print()

5
* * * * *
* * * *
* * *
* *
*

In [ ]:
n=int(input())
for i in range(n):
  for j in range(n):
    if j<=i:
      print(i,end=" ")
  print()

5
0
1 1
2 2 2
3 3 3 3
4 4 4 4 4

In [ ]:
n=int(input())
for i in range(n):
  for j in range(n):
    if i==0 or i==n-1 or j==0 or j==n-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

5
* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
n=int(input())
for i in range(n):
  for j in range(n):
    if i==0 or i==n-1 or j==0 or j==n-1 or i==j or i+j==n-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

5
* * * * *
* *   * *
*   *   *
* *   * *
* * * * *

In [ ]:
n=int(input("Enter rows and columns"))
k=input("Enter char")
for i in range(n):
  for j in range(n):
    print(k,end=" ")
  print()

Enter rows and columns5
Enter charC
C C C C C
C C C C C
C C C C C
C C C C C
C C C C C

In [ ]:
n=int(input())
k=1
for i in range(n):
  for j in range(n):
    print(k,end=" ")
    k=k+1
  print()

5
1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

Write a program to find factorial of a number

In [ ]:
num=int(input("Enter a number"))
factorial=1
if num<0:
  print("Factorial does not exist for -ve numbers")
elif num==0:
  print("The factorial of 0 is 1")
else:
  for i in range(1,num+1):
    factorial=factorial*i
  print("The factorial of",num,"is",factorial)

Enter a number3
The factorial of 3 is 6

Program to read a string from user and implement the logic to remove the characters which are at the odd numbers of the index

In [ ]:
s=input("")
a=""
for i in range(0,len(s)):
  if(i%2==0):
    a=a+s[i]
print(a)

CHAITHRA
CATR

In [ ]:
mark1=int(input())
mark2=int(input())
mark3=int(input())

if (mark1>mark2 and mark3):
  avg((mark2+mark3)/2)
  print(avg)
elif(mark2>mark1 and mark3):
  avg((mark1+mark3)/2)
else:
  avg((mark2+mark1)